#! copy and paste file to terminal
# RISC0 Parameters
RISC0_USE_DOCKER=true

# EVM parameters
EVM_CHAIN_ID=1313161555
EVM_RPC_URL="https://testnet.aurora.dev"
EVM_VERIFIER_CONTRACT=0x1F59D53def69dfe2bFF235534AA02Eb0EcbD9781

# NEAR parameters
NEAR_RPC_URL="https://rpc.testnet.near.org"
NEAR_SIGNER_ACCOUNT_ID="local-verifier.testnet"
NEAR_ACCOUNT_SECRET_KEY="ed25519:..."
NEAR_VERIFIER_CONTRACT_ACCOUNT_ID="local-verifier.testnet"
NEAR_NFT_CONTRACT_ACCOUNT_ID="x-bitte-nft.testnet"

# BONSAI parameters
BONSAI_API_KEY= # see form linked in the previous section
BONSAI_API_URL="https://api.bonsai.xyz/" # provided with your api key

# FORGE parameters -- same as EVM_PK
ETH_WALLET_PRIVATE_KEY=